# PixiChat — Variables d'environnement
# Renommez ce fichier en .env avant de lancer le serveur

PORT=3000

# MongoDB Atlas
MONGO_URI=mongodb+srv://nelson:a4gb5ui6@cluster0.uvjq8jz.mongodb.net/?appName=Cluster0

# Cloudinary (pour les uploads de fichiers et photos de profil)
CLOUDINARY_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret
