# --- DÉPENDANCES ---
node_modules/
.pnp
.pnp.js

# --- CONFIGURATION & SECRETS ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- SYSTÈME & OS ---
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

# --- LOGS (Rapports d'erreurs) ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- ÉDITEURS (VS Code, JetBrains, etc.) ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --- BUILD / PRODUCTION ---
dist/
build/
out/
.cache/
.webpack/

# --- MOBILE (Android / iOS) ---
android/
ios/
*.keystore
!debug.keystore

# --- STOCKAGE / UPLOADS ---
uploads/
storage/

# --- TESTS ---
coverage/